* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #333;
    height: 5000px;
}
#sticky-man {
    background: url("sticky-man.png") left/cover;
    background-size: 720px;
    background-repeat: no-repeat;
    width: 900px;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid pink;
}
#leg {
    background: url("leg.png") 20px 50px;
    background-size: 188px;
    background-repeat: no-repeat;
    width: 375px;
    height: 170px;
    position: fixed;
    top: calc(50% + 110px);
    left: calc(50% - 215px);
    transform: translate(-50%, -50%) rotate(-0deg);
    border: 2px solid rgb(142, 0, 24);
}
